* {
    box-sizing: border-box;
}

/* FONTS */

@font-face {
    font-family: eurofurence;
    src: url(../fonts/eurofurence/eurofurence-regular-500.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}


/* BASE */

html {
    font-family: Lato, sans-serif;
    color: #606060;
    line-height: 1.66;
}

body {

    margin: 0;
    font-size: 1rem;

}


h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0 0 1em;
    /* line-height: 1.3; */
}

h2 {

    font-size: 1.75em;
    text-transform: uppercase;
    letter-spacing: 0.84px;
    line-height: 84%;
    
}

p {
    margin: 0 0 1em;
}

.excerpt {
    width: 445px;
    margin-left: 25px;
    margin-top:0px;
    
    
}

.card-image {
    width: 50%;
}

img {
    width: 100%;
}
button {
    cursor: pointer;
    font-family: lato;
    text-transform: capitalize;
}
.head{
    width: 132px;
    height: 132px;
    box-shadow: -1px 0 0 #1d1d1d, inset -1px 0 0 #1d1d1d;
    background-color: #292929;
    text-align: center;
       
}

.head:hover {
    color: #58c93a;
    box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 #58c93a;
}


a {
    text-decoration: none;
   
}

a:hover {
    color: #58c93a}

/* LAYOUT */
.header-bg {
    width: 100%;
    height: 132px;
    background-color: #292929;
}
    

.main-layout {
    max-width: 980px;
    margin: 0 auto;
    /* border: 1px solid #e1e0e0; */
    
}
.content-container{
    max-width: 980px;
    border: 1px solid #e1e0e0;
    margin: auto;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.cards-container>* {
    margin-top: 80px;
}

.cards-container .card-image {
    margin-bottom: 1.25rem;
}
.card {
    display: flex;
    flex-wrap: nowrap;
}

.card-info{

    width: 50%;
    /* height: 114px; */
   
}


.header-container{
    width: 980px;
    background-color: #292929;
        box-shadow: -1px 0 0 #1d1d1d, inset -1px 0 0 #1d1d1d;

    margin:auto;
}

/* HEADER */


.main-header {
    max-width: 980px;
    height: 130px;
    
}

.main-header .logo {
    font-size: 2.5rem;
    font-weight: 400;
    font-family: eurofurence, serif;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    letter-spacing: -0.8px;
   
}

.main-header .logo::after {
    content: attr(data-end) ;
    color: #58c93a;
}

.logo-small{
    width: 85px;
    height: 33px;
    color: #292929;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: eurofurence, serif;
    text-transform: capitalize;
    letter-spacing: -0.8px;
    margin:auto;
    margin-top:80px;
    margin-bottom: 40px;

}

.logo-small::after {
    content: attr(data-end) ;
    color: #58c93a;

}

small {
    text-align: center;
    color: #a6a6a6;
}

.main-header .main-nav {
    text-transform: capitalize;
    font-family: Lato, sans-serif;
    font-weight: 700;
    color: white;

}


.main-header .main-nav a {
    text-transform: capitalize;
    color: inherit;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    
}

.main-header .main-nav a:hover {
    color: #58c93a;
    
   
}

.main-header .main-nav {
    text-transform: uppercase;
}

.main-header .main-nav li:not(:last-child) {
    margin-inline-end: 0px;

    
}
.excerpt {
    width: 50%;
    margin-right: 25px;
    flex-direction: column;     
}
.continue-btn{
    line-height: 2.5em;
    padding: 0 2em;
    font-family: Lato, sans-serif;
    font-size: 1em;
    color: #c2c2c2;
    font-weight: 700;
    background-color: white;
    border: 2px solid #c2c2c2;
    border-radius: 2em;
    
    position: relative;
    transition: padding .3s;   

}


.continue-btn:hover::after {
    content: "→";
    position: absolute;
    right: 1em;
}

.cards-container button.continue-btn {
    align-self: flex-start;
}

.continue-btn:hover {
    padding-inline-end: 3em;
    color: #58c93a;
    border: 2px solid #58c93a;
    padding-inline-end: 3em;
}
.continue-btn:hover::after {
    content: " →";
    position: absolute;
    right: 1em;
}

.previous{
    width: 460px;
    display: inline-flex;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #818181;
    text-align: left;
    margin:left;
    display: inline-block;
}
.previous:hover{
    color: #58c93a;
}

.next{
    width: 460px;
    display: inline-flex;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #818181;
    text-align: right;
    margin: right;
    margin-top:22px;
    display: inline-block;
}

.next:hover{
    color: #58c93a;

}

.previous img{
    width: 15px;
    height: 7px;
    margin-bottom: 3px;
    display: inline-block;
   
}

.next img{
    width: 15px;
    height: 7px;
    display: inline-block;
    margin-bottom: 3px;
    
}

.paging{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content:space-around;
    margin-top: 50px;
    border-top: 1px solid #e1e0e0;

}

/* .footer-bg {
    width: 100%;
    height: 315px;
    box-shadow: inset 0 1px 0 #e1e0e0;
    background-color: #f8f8f8;
} */

.footer-container{
    width: 61.25rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.social-container {
    width: 33.87rem;
    height: 40px;
    display: flex;
    justify-content: center;
    margin:auto;
    margin-top:20px;
   
    
}
.social-icon{
    width: 40px;
    height: 40px;
    background-color: #e5e5e5;
    margin:auto;
    margin-right:20px;
    
}

.social-icon:hover{
    background-color: #516fad;
  
}


.social-icon img{
    width: 50%;
    margin:auto;
    margin-top:11px;
    margin-left:10px;
    object-fit: cover;
}



/* HELPERS */

/* flex-helpers */

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

/* list-helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


@media (min-width: 768px) and (max-width: 1024px) {



    
}

/* SCREENS */

/* .main-screen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0 0 0 / 70%);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;

    transition: opacity .8s;
}

body.open-menu .main-screen {
    visibility: visible;
    opacity: 1;
} */

/* NARROW */

/* @media (min-width: 760px) {
    .main-layout {
        max-width: 720px;
    }
}

@media (max-width: 760px) {
    .main-layout {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .main-layout .main-nav {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        background-color: rgb(255 255 255 / 90%);
        border-left: 1px solid #d6d6d6;
        flex-direction: column;
        transform: translateX(100%);

        transition: transform .8s;
    }

    body.open-menu .main-layout .main-nav {
        transform: translateX(0);
    }


    .main-header .main-nav a {
        width: 260px;
        display: block;
        text-align: center;
        padding: 1.125rem 0;
    
    }
    .main-header .main-nav li:not(:last-child) {
        margin: 0;
    }
    .main-header .main-nav li {
        border-bottom: 1px solid #d6d6d6;
    }
} */

/* NORMAL */

/* @media (min-width: 870px) {
    .main-layout {
        max-width: 830px;
    }
    .cards-container>*:not(:first-child) {
        flex-basis: 50%;
    }
    .cards-container>*:nth-child(odd):not(:first-child) {
        padding-inline-start: 15px;
    }
    .cards-container>*:nth-child(even) {
        padding-inline-end: 15px;
    }
    .cards-container>*:not(:first-child) .card-image {
        height: 270px;
    }
    .cards-container>*:first-child>*:not(.card-image) {
        margin-left: 80px;
        margin-right: 80px;
    }
    .cards-container>*:first-child {
        margin-bottom: 120px;
    }
    .cards-container>*:not(:first-child) {
        margin-bottom: 100px;
    }
    .cards-container .card-image {
        object-fit: cover;
    }
    .cards-container>*:not(:first-child) .card-image {
        height: 260px;
    }
} */

/* WIDE */

/* @media (min-width: 1100px) {
    .main-layout {
        max-width: 1060px;
    }
    .cards-container>*:nth-child(odd):not(:first-child) {
        padding-inline-end: 80px;
        padding-inline-start: 30px;
    }
    .cards-container>*:nth-child(even) {
        padding-inline-start: 80px;
        padding-inline-end: 30px;
    }
}
 */
